infra/n8n/workflows/WF-4_ Churn Rescue Action.json
{
  "name": "WF-4: Churn Rescue Action",
  "nodes": [
    {
      "parameters": {
        "events": "workflow_call",
        "workflowInputs": {
          "values": [
            { "name": "account_id" },
            { "name": "action_id" }
          ]
        }
      },
      "id": "fffca805-66d8-4a41-90fe-d5a5f791ab48",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [240, 592]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "churn-rescue/run",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f21dad1b-0e95-47f2-a3ba-3732f019e4ce",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 784],
      "webhookId": "04d3bea4-3a33-4030-abcb-5425f2deb49d"
    },
    {
      "parameters": {},
      "id": "6c111fe5-41fd-469d-9801-8179056b0a06",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [464, 688]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "attio_companies",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.account_id ?? $json.body.account_id }}"
            }
          ]
        },
        "additionalFields": {
          "returnAll": false,
          "limit": 1
        }
      },
      "id": "d7e8f9a0-b1c2-3d4e-5f6a-7b8c9d0e1f2a",
      "name": "Fetch Account Details",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [688, 400],
      "credentials": {
        "supabaseApi": {
          "id": "fe1RTg7V77HSHUQT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "attio_customer_success",
        "filters": {
          "conditions": [
            {
              "keyName": "company_id",
              "keyValue": "={{ $json.account_id ?? $json.body.account_id }}"
            }
          ]
        },
        "additionalFields": {
          "returnAll": false,
          "limit": 1
        }
      },
      "id": "9836ad1f-2ae7-444d-94c0-e97fece37155",
      "name": "Fetch CS Details",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [688, 592],
      "credentials": {
        "supabaseApi": {
          "id": "fe1RTg7V77HSHUQT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "company_churn",
        "filters": {
          "conditions": [
            {
              "keyName": "company_id",
              "keyValue": "={{ $json.account_id ?? $json.body.account_id }}"
            }
          ]
        },
        "additionalFields": {
          "returnAll": false,
          "limit": 1
        }
      },
      "id": "96869bf2-acbb-4cba-af39-184c18d388e9",
      "name": "Fetch Churn Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [688, 784],
      "credentials": {
        "supabaseApi": {
          "id": "fe1RTg7V77HSHUQT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "company_signals",
        "filters": {
          "conditions": [
            {
              "keyName": "company_id",
              "keyValue": "={{ $json.account_id ?? $json.body.account_id }}"
            },
            {
              "keyName": "type",
              "keyValue": "usage_drop"
            }
          ]
        },
        "additionalFields": {
          "returnAll": false,
          "limit": 10
        }
      },
      "id": "0a43f21a-8f9d-4a6e-a72e-a49c6fd9879a",
      "name": "Fetch Usage Signals",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [688, 976],
      "credentials": {
        "supabaseApi": {
          "id": "fe1RTg7V77HSHUQT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "company_signals",
        "filters": {
          "conditions": [
            {
              "keyName": "company_id",
              "keyValue": "={{ $json.account_id ?? $json.body.account_id }}"
            },
            {
              "keyName": "type",
              "keyValue": "support_ticket"
            }
          ]
        },
        "additionalFields": {
          "returnAll": false,
          "limit": 5
        }
      },
      "id": "2052c339-e463-4209-9d83-38b6db1146eb",
      "name": "Fetch Support Signals",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [688, 1168],
      "credentials": {
        "supabaseApi": {
          "id": "fe1RTg7V77HSHUQT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 5,
        "options": {}
      },
      "id": "b1d9d4cf-09cb-4e24-90e5-47d7ecaa4196",
      "name": "Merge Account Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [912, 784]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// inputs by position from the 5 parallel Supabase fetches\nconst company   = items[0].json;  // attio_companies: id, name, domain\nconst csData    = items[1].json;  // attio_customer_success: arr, stage, health, notes\nconst churn     = items[2].json;  // company_churn: company_id, score, status, reason\n\n// company_signals rows (usage_drop), sorted newest-first\nconst usageRows = (Array.isArray(items[3].json) ? items[3].json : [items[3].json])\n  .filter(r => r && r.company_id)\n  .sort((a, b) => new Date(b.created_at) - new Date(a.created_at));\n\n// company_signals rows (support_ticket), sorted newest-first\nconst suppRows = (Array.isArray(items[4].json) ? items[4].json : [items[4].json])\n  .filter(r => r && r.company_id)\n  .sort((a, b) => new Date(b.created_at) - new Date(a.created_at));\n\n// Usage: company_signals.value holds the usage-drop magnitude (0-100);\n// metadata may carry { last_login_at, usage_pct_before, usage_pct_after }\nconst usageLatest  = usageRows[0]?.metadata?.usage_pct_after ?? usageRows[0]?.value ?? null;\nconst usageWeekAgo = usageRows[4]?.metadata?.usage_pct_after ?? usageRows[4]?.value ?? usageLatest;\nconst usageDrop    = typeof usageLatest === 'number' && typeof usageWeekAgo === 'number'\n  ? (usageWeekAgo - usageLatest).toFixed(1)\n  : 'unknown';\n\n// Days to renewal: attio_won_contracts.projected_close_date is not fetched in this flow;\n// set to null — add a 6th parallel fetch from attio_won_contracts if needed.\nconst renewalDate   = null;\nconst daysToRenewal = null;\n\n// Last contact: derived from most-recent usage signal timestamp as a proxy\nconst lastContact = usageRows[0]?.created_at\n  ? `${Math.floor((Date.now() - new Date(usageRows[0].created_at)) / (1000*60*60*24))} days ago`\n  : 'never';\n\n// Support signals: metadata shape expected: { subject, sentiment, description }\nconst negativeTickets = suppRows\n  .filter(t => t.metadata?.sentiment === 'negative')\n  .map(t => t.metadata?.subject ?? t.type)\n  .join('; ') || 'none';\n\nconst signalSummary = suppRows.length\n  ? suppRows.map(s =>\n      `[${s.source}] ${s.metadata?.description ?? s.metadata?.subject ?? s.type} (${s.metadata?.sentiment ?? 'neutral'})`\n    ).join('\\n')\n  : 'No recent support signals';\n\nreturn [{\n  json: {\n    account_id:            company.id,\n    company_name:          company.name ?? 'Unknown',\n    arr:                   csData.arr ?? 0,\n    plan_tier:             csData.stage ?? 'unknown',\n    cs_health:             csData.health ?? 'unknown',\n    cs_notes:              csData.notes ?? '',\n    renewal_date:          renewalDate,\n    days_to_renewal:       daysToRenewal,\n    // Contact fields: add a parallel fetch from attio_people WHERE company_id=account_id\n    primary_contact_name:  'N/A',\n    primary_contact_phone: 'N/A',\n    primary_contact_email: 'N/A',\n    // Owner email: add a fetch from accounts JOIN users WHERE attio_record_id=account_id\n    owner_email:           'N/A',\n    // Churn status from company_churn\n    rag_status:            churn.status ?? 'unknown',\n    health_score:          churn.score ?? 0,\n    churn_risk_flags:      churn.reason ?? 'none',\n    // Usage signals from company_signals\n    usage_latest:          usageLatest,\n    usage_drop:            usageDrop,\n    last_login:            usageRows[0]?.metadata?.last_login_at ?? 'unknown',\n    last_contact:          lastContact,\n    negative_tickets:      negativeTickets,\n    comms_summary:         signalSummary,\n  }\n}];"
      },
      "id": "0e8fb00f-b871-49bb-b67c-5716c03e290b",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1136, 784]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"contents\": [{\"parts\": [{\"text\": \"You are a senior enterprise customer success manager. A client account is at churn risk and you need to produce a detailed account plan to rescue them.\\n\\n## ACCOUNT DATA\\nCompany: {{ $json.company_name }}\\nARR: ${{ $json.arr }}\\nPlan / Stage: {{ $json.plan_tier }}\\nCRM Health: {{ $json.cs_health }}\\nRenewal: {{ $json.days_to_renewal !== null ? ($json.days_to_renewal + ' days away (' + $json.renewal_date + ')') : 'date not available' }}\\nChurn status: {{ $json.rag_status }} (score: {{ $json.health_score }}/100)\\nChurn reason on record: {{ $json.churn_risk_flags }}\\nCurrent usage drop magnitude: {{ $json.usage_latest !== null ? $json.usage_latest : 'no data' }}\\nUsage trend (7-day drop): {{ $json.usage_drop }}%\\nLast login: {{ $json.last_login }}\\nLast contact: {{ $json.last_contact }}\\nNegative support signals: {{ $json.negative_tickets }}\\nRecent signals:\\n{{ $json.comms_summary }}\\nCS notes: {{ $json.cs_notes }}\\nPrimary contact: {{ $json.primary_contact_name }}\\n\\n## YOUR TASK\\nGenerate a complete account rescue plan. Return ONLY valid JSON:\\n\\n{\\n  \\\"executive_summary\\\": \\\"2-3 sentence overview of the churn risk and recommended approach\\\",\\n  \\\"risk_factors\\\": [\\\"factor 1\\\", \\\"factor 2\\\"],\\n  \\\"account_plan\\\": [\\n    { \\\"action\\\": \\\"...\\\", \\\"owner\\\": \\\"CSM|AI|email\\\", \\\"timeline\\\": \\\"immediate|this week|this month\\\" }\\n  ],\\n  \\\"call_script\\\": \\\"Full natural language script for the AI voice agent. Include: greeting, empathy, specific pain point acknowledgement, value reminder, concrete offer or next step, and close. Write as spoken dialogue.\\\",\\n  \\\"objection_handling\\\": [\\n    { \\\"objection\\\": \\\"...\\\", \\\"response\\\": \\\"...\\\" }\\n  ],\\n  \\\"email_draft\\\": \\\"Full follow-up email to send after the call\\\",\\n  \\\"success_metric\\\": \\\"What outcome defines this rescue as successful\\\",\\n  \\\"priority\\\": \\\"high|medium|low\\\"\\n}\"}]}],\"generationConfig\": {\"temperature\": 0.4,\"responseMimeType\": \"application/json\"}} }}",
        "options": {}
      },
      "id": "f389ea27-7787-4940-a299-ae1e98919602",
      "name": "Gemini — Generate Account Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1360, 784]
    },
    {
      "parameters": {
        "jsCode": "const raw     = $input.first().json.candidates[0].content.parts[0].text;\nconst cleaned = raw.replace(/```json|```/g, '').trim();\nconst plan    = JSON.parse(cleaned);\nconst ctx     = $('Build Context').first().json;\n\nreturn [{\n  json: {\n    ...ctx,\n    executive_summary:  plan.executive_summary,\n    risk_factors:       plan.risk_factors,\n    account_plan:       plan.account_plan,\n    call_script:        plan.call_script,\n    objection_handling: plan.objection_handling,\n    email_draft:        plan.email_draft,\n    success_metric:     plan.success_metric,\n    priority:           plan.priority,\n  }\n}];"
      },
      "id": "f8a9a902-47e0-4201-b256-6107859f7ffc",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1584, 784]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "account_plans",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "account_id",         "fieldValue": "={{ $json.account_id }}" },
            { "fieldId": "executive_summary",  "fieldValue": "={{ $json.executive_summary }}" },
            { "fieldId": "risk_factors",       "fieldValue": "={{ $json.risk_factors }}" },
            { "fieldId": "account_plan",       "fieldValue": "={{ $json.account_plan }}" },
            { "fieldId": "call_script",        "fieldValue": "={{ $json.call_script }}" },
            { "fieldId": "objection_handling", "fieldValue": "={{ $json.objection_handling }}" },
            { "fieldId": "email_draft",        "fieldValue": "={{ $json.email_draft }}" },
            { "fieldId": "success_metric",     "fieldValue": "={{ $json.success_metric }}" },
            { "fieldId": "priority",           "fieldValue": "={{ $json.priority }}" },
            { "fieldId": "generated_at",       "fieldValue": "={{ $now.toISO() }}" }
          ]
        }
      },
      "id": "f2d7477a-b488-4a2d-b1a8-65ff7eee6f7e",
      "name": "Save Account Plan",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1808, 784],
      "credentials": {
        "supabaseApi": {
          "id": "fe1RTg7V77HSHUQT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "plan_id",
              "name": "plan_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "cca659d4-4013-47b3-a40a-0a74a78a2d9a",
      "name": "Attach Plan ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2032, 784]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "churn_rescue_queue",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "account_id",     "fieldValue": "={{ $json.account_id }}" },
            { "fieldId": "company_name",   "fieldValue": "={{ $json.company_name }}" },
            { "fieldId": "arr",            "fieldValue": "={{ $json.arr }}" },
            { "fieldId": "rag_status",     "fieldValue": "={{ $json.rag_status }}" },
            { "fieldId": "priority",       "fieldValue": "={{ $json.priority }}" },
            { "fieldId": "days_to_renewal","fieldValue": "={{ $json.days_to_renewal }}" },
            { "fieldId": "usage_latest",   "fieldValue": "={{ $json.usage_latest }}" },
            { "fieldId": "last_contact",   "fieldValue": "={{ $json.last_contact }}" },
            { "fieldId": "plan_id",        "fieldValue": "={{ $json.plan_id }}" },
            { "fieldId": "status",         "fieldValue": "pending" },
            { "fieldId": "updated_at",     "fieldValue": "={{ $now.toISO() }}" }
          ]
        }
      },
      "id": "aa4f7b7e-3b8c-42cc-ac1c-eeb3d1764e9b",
      "name": "Write to Churn Queue",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2256, 784],
      "credentials": {
        "supabaseApi": {
          "id": "fe1RTg7V77HSHUQT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priority }}",
                    "operator": { "type": "string", "operation": "equals" },
                    "rightValue": "high"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priority }}",
                    "operator": { "type": "string", "operation": "equals" },
                    "rightValue": "medium"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "low"
        }
      },
      "id": "084fbc30-95f8-42c9-89d0-e24de338d501",
      "name": "Route by Priority",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [2480, 784]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "account_id":        "={{ $json.account_id }}",
            "plan_id":           "={{ $json.plan_id }}",
            "call_script":       "={{ $json.call_script }}",
            "objection_handling":"={{ $json.objection_handling }}",
            "contact_phone":     "={{ $json.primary_contact_phone }}",
            "contact_name":      "={{ $json.primary_contact_name }}",
            "company_name":      "={{ $json.company_name }}"
          }
        },
        "options": {}
      },
      "id": "b0a7272b-8b4a-4b19-8a0b-00982aae60c4",
      "name": "Trigger WF-6 Voice Call",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [2704, 608]
    },
    {
      "parameters": {
        "fromEmail": "noreply@yourcompany.com",
        "toEmail": "={{ $('Build Context').item.json.owner_email }}",
        "subject": "=Action needed: {{ $json.company_name }} is at churn risk",
        "emailFormat": "text",
        "text": "=Hi,\n\n{{ $json.company_name }} (ARR: ${{ $json.arr }}) has been flagged as churn risk.\n\nSummary:\n{{ $('Parse Gemini Response').item.json.executive_summary }}\n\nPriority: {{ $json.priority }}\nChurn status: {{ $json.rag_status }}\nRenewal in: {{ $json.days_to_renewal !== null ? ($json.days_to_renewal + ' days') : 'unknown' }}\n\nView the full account plan and call script in the dashboard.",
        "options": {}
      },
      "id": "268c1cae-c373-4084-a538-ee0723f69f53",
      "name": "Notify Account Owner",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2704, 784],
      "webhookId": "8b9ceb8c-96ec-4693-a551-a238c54aeffa"
    },
    {
      "parameters": {},
      "id": "85eabdcf-556e-4aa2-9279-5d59be5601b7",
      "name": "Low Priority (Queue Only)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2704, 976]
    },
    {
      "parameters": { "numberInputs": 3 },
      "id": "95ba8231-4ab4-489c-bbfe-81d1a51c4bae",
      "name": "Merge All Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [2928, 784]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "account_id": "={{ $json.account_id }}",
            "plan_id":    "={{ $json.plan_id }}",
            "event":      "churn_rescue_plan_generated",
            "channel":    "system",
            "summary":    "={{ $('Parse Gemini Response').item.json.executive_summary }}",
            "sentiment":  "neutral"
          }
        },
        "options": {}
      },
      "id": "4f286dcc-32aa-4c22-8e58-43041fd73410",
      "name": "Log to WF-7",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [3152, 784]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"plan_id\": $('Attach Plan ID').item.json.plan_id, \"priority\": $('Write to Churn Queue').item.json.priority, \"executive_summary\": $('Parse Gemini Response').item.json.executive_summary } }}",
        "options": {}
      },
      "id": "7e85ec9f-dcaf-47fb-9eda-d09a437dcc0c",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [3376, 784]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Merge Triggers", "type": "main", "index": 0 }]]
    },
    "Webhook": {
      "main": [[{ "node": "Merge Triggers", "type": "main", "index": 1 }]]
    },
    "Merge Triggers": {
      "main": [[
        { "node": "Fetch Account Details", "type": "main", "index": 0 },
        { "node": "Fetch CS Details",      "type": "main", "index": 0 },
        { "node": "Fetch Churn Status",    "type": "main", "index": 0 },
        { "node": "Fetch Usage Signals",   "type": "main", "index": 0 },
        { "node": "Fetch Support Signals", "type": "main", "index": 0 }
      ]]
    },
    "Fetch Account Details": {
      "main": [[{ "node": "Merge Account Data", "type": "main", "index": 0 }]]
    },
    "Fetch CS Details": {
      "main": [[{ "node": "Merge Account Data", "type": "main", "index": 1 }]]
    },
    "Fetch Churn Status": {
      "main": [[{ "node": "Merge Account Data", "type": "main", "index": 2 }]]
    },
    "Fetch Usage Signals": {
      "main": [[{ "node": "Merge Account Data", "type": "main", "index": 3 }]]
    },
    "Fetch Support Signals": {
      "main": [[{ "node": "Merge Account Data", "type": "main", "index": 4 }]]
    },
    "Merge Account Data": {
      "main": [[{ "node": "Build Context", "type": "main", "index": 0 }]]
    },
    "Build Context": {
      "main": [[{ "node": "Gemini — Generate Account Plan", "type": "main", "index": 0 }]]
    },
    "Gemini — Generate Account Plan": {
      "main": [[{ "node": "Parse Gemini Response", "type": "main", "index": 0 }]]
    },
    "Parse Gemini Response": {
      "main": [[{ "node": "Save Account Plan", "type": "main", "index": 0 }]]
    },
    "Save Account Plan": {
      "main": [[{ "node": "Attach Plan ID", "type": "main", "index": 0 }]]
    },
    "Attach Plan ID": {
      "main": [[{ "node": "Write to Churn Queue", "type": "main", "index": 0 }]]
    },
    "Write to Churn Queue": {
      "main": [[{ "node": "Route by Priority", "type": "main", "index": 0 }]]
    },
    "Route by Priority": {
      "main": [
        [{ "node": "Trigger WF-6 Voice Call",  "type": "main", "index": 0 }],
        [{ "node": "Notify Account Owner",      "type": "main", "index": 0 }],
        [{ "node": "Low Priority (Queue Only)", "type": "main", "index": 0 }]
      ]
    },
    "Trigger WF-6 Voice Call": {
      "main": [[{ "node": "Merge All Paths", "type": "main", "index": 0 }]]
    },
    "Notify Account Owner": {
      "main": [[{ "node": "Merge All Paths", "type": "main", "index": 1 }]]
    },
    "Low Priority (Queue Only)": {
      "main": [[{ "node": "Merge All Paths", "type": "main", "index": 2 }]]
    },
    "Merge All Paths": {
      "main": [[{ "node": "Log to WF-7", "type": "main", "index": 0 }]]
    },
    "Log to WF-7": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1566f1bb-2a4e-4197-b0fc-12f8d6244e8a",
  "meta": {
    "instanceId": "4f46209b245bfb1e262537ad2793f2caccc44ecfe3d895b0804365aaaa4f0984"
  },
  "nodeGroups": [],
  "id": "s85yjuxXhCocfQnw",
  "tags": []
}
