infra/n8n/workflows/WF-6_Voice Agent API.json
{
  "name": "WF-6: Voice Agent API (Sling + Twilio)",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Trigger: From WF-4/5",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 480]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-call",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Webhook: Dashboard Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 720],
      "webhookId": "f1e2d3c4-b5a6-4000-9000-trigger-call01"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "n1",
              "name": "account_id",
              "value": "={{ $json.account_id || $json.body?.account_id }}",
              "type": "string"
            },
            {
              "id": "n2",
              "name": "action_id",
              "value": "={{ $json.action_id || $json.body?.action_id }}",
              "type": "string"
            },
            {
              "id": "n3",
              "name": "call_script",
              "value": "={{ $json.call_script || $json.body?.call_script }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 600]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  ac.id   AS account_id,\n  ac.name AS company_name,\n  p.name  AS primary_contact_name,\n  p.phone AS primary_contact_phone\nFROM attio_companies ac\nLEFT JOIN attio_people p ON p.company_id = ac.id\nWHERE ac.id = '{{ $json.account_id }}'\nORDER BY p.phone NULLS LAST\nLIMIT 1",
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Fetch Contact",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [680, 600],
      "credentials": {
        "postgres": {
          "id": "zQJjt8Ehxe7qmoRe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLING_API_URL }}/agents/configure",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ script: $('Normalize Input').item.json.call_script, persona: 'enterprise_account_manager', contact_name: $json.primary_contact_name, company: $json.company_name, escalation_trigger: 'speak to someone|transfer|human|manager', callback_url: $env.N8N_BASE_URL + '/webhook/call-outcome' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Configure Sling Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 600]
    },
    {
      "parameters": {
        "resource": "call",
        "from": "={{ $env.TWILIO_FROM_NUMBER }}",
        "to": "={{ $('Fetch Contact').item.json.primary_contact_phone }}",
        "twiml": false,
        "url": "={{ $json.twiml_url }}"
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Make Outbound Call",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1120, 600],
      "credentials": {
        "twilioApi": {
          "id": "REPLACE_WITH_TWILIO_CRED",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO communications\n  (account_id, action_id, channel, status, call_sid, occurred_at)\nVALUES\n  ('{{ $('Normalize Input').item.json.account_id }}',\n   '{{ $('Normalize Input').item.json.action_id }}',\n   'voice', 'initiated',\n   '{{ $json.sid }}', NOW())",
        "options": {}
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Log Call Initiated",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1340, 600],
      "credentials": {
        "postgres": {
          "id": "zQJjt8Ehxe7qmoRe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, call_sid: $('Make Outbound Call').item.json.sid } }}",
        "options": {}
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1560, 600]
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger: From WF-4/5": {
      "main": [[{ "node": "Normalize Input", "type": "main", "index": 0 }]]
    },
    "Webhook: Dashboard Trigger": {
      "main": [[{ "node": "Normalize Input", "type": "main", "index": 0 }]]
    },
    "Normalize Input": {
      "main": [[{ "node": "Fetch Contact", "type": "main", "index": 0 }]]
    },
    "Fetch Contact": {
      "main": [[{ "node": "Configure Sling Agent", "type": "main", "index": 0 }]]
    },
    "Configure Sling Agent": {
      "main": [[{ "node": "Make Outbound Call", "type": "main", "index": 0 }]]
    },
    "Make Outbound Call": {
      "main": [[{ "node": "Log Call Initiated", "type": "main", "index": 0 }]]
    },
    "Log Call Initiated": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
